<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PLAYBACK" />
    <uses-permission
        android:name="android.permission.SCHEDULE_EXACT_ALARM"
        tools:ignore="ProtectedPermissions" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo"
        android:roundIcon="@drawable/logo"
        android:label="Towerlands"

        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidStudio2DGame"
        tools:targetApi="31">
        <receiver
            android:name=".projectManagement.NotificationReceiver"
            android:exported="false" />
        <service
            android:name=".projectManagement.MusicService"
            android:exported="false"
            android:foregroundServiceType="mediaPlayback" />




        <activity
            android:name=".graphics.IntermediateActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.AndroidStudio2DGame" />

        <activity
            android:name=".graphics.HomeActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Base.Theme.AndroidStudio2DGame">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".graphics.GameActivity"
            android:exported="true"
            android:screenOrientation="landscape"
            android:theme="@style/Base.Theme.AndroidStudio2DGame" />

    </application>

</manifest>